body {
    background-image: url("https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkaSjRtQThYR1ZTRGs")
  }
  .hideOperations {
    display: none;
  }
  
  .displayOperations {
    display: block;
  }
  
  .editor-area {
    overflow: hidden;
    float: left;
  }
  
  .controls {
    width: 100px;
    overflow: hidden;
    float: right;
    position: relative;
  }
  
  .canvas-bg-wrapper {
    position: relative;
    width: 600px;
    height: 560px;
  }
  
  .canvas-bg {
    position: absolute;
  }
  
  .canvas-container {
    top: 75px;
    left: 155px;
    border-style: solid;
  border-width: 19px 22px 22px 19px;
  -moz-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
  -webkit-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
  -o-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
  border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc) 19 22 21 19 round;
  }
  
  #c {
    position: relative;
  }