html,
body {
  background-image: url(../../assets/backgrounds/inflicted.png);
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.nonborderbox * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}
.navbar-fixed-left {
  right: auto;
  bottom: 0;
  width: 420px;
  margin-top: 54px;
  flex-flow: column nowrap;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

#main-navbar {
  height: 54px;
  background-color: #3fc7ba;
}

.vertical-tabs {
  font-size: 15px;
  color: #fff;
}
.vertical-tabs .nav-tabs .nav-link {
  border: none;
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.5);
}
.vertical-tabs .nav-tabs .nav-link i {
  font-size: 20px;
}
.vertical-tabs .nav-tabs .nav-link:hover {
  color: #3fc7ba !important;
}
.vertical-tabs .nav-tabs .nav-link.active {
  border: none;
  background-color: #3f4652 !important;
  color: #fff;
}
.vertical-tabs .tab-content > .active {
  background: #fff;
  display: block;
}
.vertical-tabs .nav.nav-tabs {
  border-bottom: 0;
  display: block;
  float: left;
  width: 100px;
  height: 100vh;
}
.vertical-tabs .sv-tab-panel {
  background: #3f4652;
  height: 100vh;
  padding: 10px;
}
.main-panel {
  margin-left: 420px;
}

.tab-content {
  margin-left: 100px;
}
@media only screen and (max-width: 420px) {
  .titulo {
    font-size: 22px;
  }
}
@media only screen and (max-width: 325px) {
}

/* canvas styles */
.hideOperations {
  display: none;
}

.displayOperations {
  display: block;
}

.editor-area {
  overflow: hidden;
  float: left;
}

.controls {
  overflow: hidden;
  float: left;
  position: relative;
  padding: 10px;
}

.canvas-bg-wrapper {
  position: relative;
  width: 600px;
  height: 560px;
}

.canvas-bg {
  position: absolute;
}

.canvas-container {
  top: 75px;
  left: 155px;
  border-style: solid;
  border-width: 19px 22px 22px 19px;
  -moz-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc)
    19 22 21 19 round;
  -webkit-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc)
    19 22 21 19 round;
  -o-border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc)
    19 22 21 19 round;
  border-image: url(https://drive.google.com/uc?export=view&id=0B3ubyt3iIvkabEZhbkJseW5IZWc)
    19 22 21 19 round;
}

#c {
  position: relative;
}
